@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>
    <b> Information about this application: </b>
    The Online Supermarket allows shoppers to 
    purchase items to put in their shopping cart.
    Items can also be deleted; shoppers may also 
    view the details of their items. Shoppers can
    create, view, edit, and delete their personal
    profile. Administrators can login and view all items
    in the inventory, while they have permission to create 
    items, update items, view item details, and delete items
    from the inventory.
</p>
