
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="container">
    <div class="jumbotron">
        <h1> Welcome to the Online Supermarket!</h1>
        <img src="~/images/supermarket.jpg"width="700px" height="300px" class="img-rounded" alt="Supermarket" />
    </div>
</div>

<script>
    
</script>